// ...

$environments: (
  ("incubation", "black", "INCUBATION"),
  ("development", "green", "DEVELOPMENT"),
  ("testing", "blue", "TESTING"),
  ("production", "red", "PRODUCTION")
);

body {
  @each $name, $color, $text in $environments {
    &.m-#{$name} {
      &::after {
        content: "#{$text}";
        font-family: "Arial Black";
        font-weight: bold;
        text-align: center;
        color: white;
        background-color: #{$color};
        position: absolute;
        top: 35px;
        left: -30px;
        right: auto;
        z-index: 2000;
        min-width: 150px;
        transform: rotate(-45deg);
      }
    }
  }
  .m-info {
    z-index: 99999;
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
    color: white;
    font-weight: bold;
    &::after {
      @include media-breakpoint-down(breakpoint-before($mobile-breakpoint)) {
        content: " MOBIL ";
      }
    }
  }
}
