// ...

$environments: (
  ("inc", "black", "INCUBATION"),
  ("dev", "green", "DEVELOPER"),
  ("test", "blue", "TEST"),
  ("prod", "red", "PRODUCTION")
);

body {
  @each $name, $color, $text in $environments {
    &.m-#{$name} {
      &::after {
        content: "#{$text}";
        font-size: $badge-font-size;
        font-family: "Arial Black";
        font-weight: bold;
        text-align: center;
        color: white;
        background-color: #{$color};
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2000;
      }
    }
  }
  .m-info {
    z-index: 99999;
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
    color: white;
    font-weight: bold;
    &::after {
      @include media-breakpoint-down(breakpoint-before($mobile-breakpoint)) {
        content: " MOBIL ";
      }
    }
  }
}
