// Primefaces Behaivor

// Dialog Modal
// 
div:not(.ui-confirm-dialog){
  &.ui-dialog {
  @include media-breakpoint-down(breakpoint-before($mobile-breakpoint)) {
    position: absolute;
    left: 15px !important;
    right: 15px !important;
    top: 15px !important;
    bottom: 15px !important;
    .ui-dialog-content {
      overflow: auto !important;
      height: 90% !important;
    }
  }
  }

}
.ui-messages {
    position: absolute;
    top: 0;
    z-index: 2000;
    right: 15px;
}
.ui-button,
.ui-widget {
  @import "buttons";
  &.btn {
    > .ui-button-text {
      padding: 0 0 0 0 !important;
    }
    > .ui-icon+.ui-button-text {
      padding: 0 0 0 1.3em !important;
    }
  }
}


//remove default color from primefaces
.table{
  .ui-datatable-even,
  .ui-datatable-odd{
    background-color: white;
  }
  >thead>tr>th{
    font-size: 90%;
    font-weight: $font-weight-normal;
    background-color: white!important;
    border-bottom: (2 * $table-border-width) solid;
  }
  >tbody>tr>td{
    font-weight: $font-weight-normal;
    font-size: 90%;
  }
}
.bcb-input-filter{
  .ui-selectonemenu.form-control{
    padding: 0!important;
    margin: 0!important;
    min-width: 40px!important;
    width: auto!important;
  }
}
//input filter

