//
// CoreUI default colors
//

$white:  #fff !default;
$black:  #000015 !default;

$gray-base:  #3c4b64 !default;
$gray-100:   #ebedef !default;
$gray-200:   #d8dbe0 !default;
$gray-300:   #c4c9d0 !default;
$gray-400:   #b1b7c1 !default;
$gray-500:   #9da5b1 !default;
$gray-600:   #8a93a2 !default;
$gray-700:   #768192 !default;
$gray-800:   #636f83 !default;
$gray-900:   #4f5d73 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100":  $gray-100,
    "200":  $gray-200,
    "300":  $gray-300,
    "400":  $gray-400,
    "500":  $gray-500,
    "600":  $gray-600,
    "700":  $gray-700,
    "800":  $gray-800,
    "900":  $gray-900
  ),
  $grays
);

$primary-base:  #043e60 !default;
$primary-100:   lighten( $primary-base, 45.7) !default;
$primary-200:   lighten( $primary-base, 40.7) !default;
$primary-300:   lighten( $primary-base, 35.7) !default;
$primary-400:   lighten( $primary-base, 30.7) !default;
$primary-500:   lighten( $primary-base, 25.7) !default;
$primary-600:   lighten( $primary-base, 20.7) !default;
$primary-700:   lighten( $primary-base, 15.7) !default;
$primary-800:   lighten( $primary-base, 10.7) !default;
$primary-900:   lighten( $primary-base,  5.7 ) !default;

$primary-dark:  darken( $primary-base, 19 ) !default;
$primary:       $primary-base !default;
$primary-50:    lighten( $primary-base,  25.4 ) !default;
$primary-25:    lighten( $primary-base,  38.4 ) !default;


$secondary-base:  #c8e5ec !default;

$secondary-100:   lighten( $secondary-base, 45.7) !default;
$secondary-200:   lighten( $secondary-base, 40.7) !default;
$secondary-300:   lighten( $secondary-base, 35.7) !default;
$secondary-400:   lighten( $secondary-base, 30.7) !default;
$secondary-500:   lighten( $secondary-base, 25.7) !default;
$secondary-600:   lighten( $secondary-base, 20.7) !default;
$secondary-700:   lighten( $secondary-base, 15.7) !default;
$secondary-800:   lighten( $secondary-base, 10.7) !default;
$secondary-900:   lighten( $secondary-base,  5.7 ) !default;

$secondary-dark:  darken( $secondary-base, 19 ) !default;
$secondary:       $secondary-base !default;
$secondary-50:    lighten( $secondary-base,  25.4 ) !default;
$secondary-25:    lighten( $secondary-base,  38.4 ) !default;


$danger-base:  #e51c23 !default;
$danger-dark:  $danger-base !default;
$danger:       $danger-base !default;
$danger-50:    lighten( $danger-base,  25.4 ) !default;
$danger-25:    lighten( $danger-base,  38.4 ) !default;

$info-base:  #39f !default;
$info-dark:  darken( $info-base, 5 ) !default;
$info:       $info-base !default;
$info-50:    lighten( $info-base,  30 ) !default;
$info-25:    lighten( $info-base,  40 ) !default;

$success-base:  #2eb85c !default;
$success-dark:  darken( $success-base, 19 ) !default;
$success:       $success-base !default;
$success-50:    lighten( $success-base,  25.4 ) !default;
$success-25:    lighten( $success-base,  38.4 ) !default;

$warning-base:  #f9b115 !default;
$warning-dark:  darken( $warning-base, 5 ) !default;
$warning:       $warning-base !default;
$warning-50:    lighten( $warning-base,  30 ) !default;
$warning-25:    lighten( $warning-base,  40 ) !default;

$light:  $gray-100 !default;;
$light-dark:   #e3e8ed !default;
$light-50:     $white !default

$dark:   #3c4b64 !default;
$dark-dark:    #3c4b64 !default;
$dark-50:      lighten( $dark,  40 ) !default;


$pink:  #e83e8c !default;

////Custom Color
//$primary:    #043e60;
//$secondary:  #043e60d5;
//$success:    #4dbd74;
//$info:       #63c2de;
//$warning:    #ffc107;
//$danger:     #f86c6b;
//$light:      #f0f3f5;
//$dark:       #2f353a;



$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary-25,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval:  8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:   $gray-900 !default;
$yiq-text-light:  $white !default;

$yiq-theme-map: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$yiq-theme-map: map-merge(
  (
    default: (
      "yiq-text-dark":  $yiq-text-dark,
      "yiq-text-light":  $yiq-text-light
    )
  ),
  $yiq-theme-map
);

// Characters which are escaped by the escape-svg function
$escaped-characters:  (
  ("<","%3c"),
  (">","%3e"),
  ("#","%23"),
) !default;
