//
// CoreUI default gradients
//
/*
$primary-gradient: (
  "start":  lighten( $primary-base, 45.7),
  "stop":   lighten( $primary-base, 5.7)
) !default;

$secondary-gradient: (
  "start":  lighten( $secondary-base, 45.7),
  "stop":   lighten( $secondary-base, 5.7)
) !default;

$light-gradient: (
  "start":  $light-50,
  "stop":   $light-dark
) !default;

$dark-gradient: (
  "start":  $dark-50,
  "stop":   $dark-dark
) !default;

$danger-gradient: (
  "start":  $danger-50,
  "stop":   $danger-dark
) !default;

$warning-gradient: (
  "start":  $warning-50,
  "stop":   $warning-dark
) !default;

$success-gradient: (
  "start":  $success-50,
  "stop":   $success-dark
) !default;

$info-gradient: (
  "start":  $info-50,
  "stop":   $info-dark
) !default;

*/
$theme-gradients: () !default;
/*
// stylelint-disable-next-line scss/dollar-variable-default
$theme-gradients: map-merge(
  (
    "primary":    $primary-gradient,
    "secondary":  $secondary-gradient,
    "success":    $success-gradient,
    "info":       $info-gradient,
    "warning":    $warning-gradient,
    "danger":     $danger-gradient,
    "light":      $light-gradient,
    "dark":       $dark-gradient
  ),
  $theme-gradients
);
/**/
